*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;

}

.box-image  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: orange 4px solid;
    padding: 3px;
    


}


.box{
    width: 250px;
    border-radius: 25px;
    background-color: orange;
    
}

.slide-content{
    margin: 0 40px;

}
.img-content, 
.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.nom{
    font-size: 18pt;
    font-weight: 500;
    color: black;
}
.description{
    font-size: 14px;
    text-align: center;
    color: bisque;
}

.img-content{
    background-color: black;
    border-radius: 25px;
 
}

.btn{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.arriereImg{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
