/*
    Programmeurs : L'equipe disign HIA
    Date         : @2024
    But          : Projet final

  Information suppelementaire : Un syste de gestion de presence pour les institutions scolaires

  CSS: Les CSS appliqués aux pages de connexion
  Version : 1.0

*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.vague {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.conteneur {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.image {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contenu-connexion {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


.image img {
	width: 550px;
}

form {
	width: 360px;
}

.contenu-connexion img {
    height: 100px;
}

.contenu-connexion h2 {
	margin: 15px 0;
	color:rgb(6, 6, 6);
    font-weight: 700;
    font-family: "Consolas";
	font-size: 1.9rem;
}

.champ-saisie {
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    border-bottom:orange solid;
    padding: 5px 0; 
}

.champ-saisie.un {
	margin-top: 0;
}

.division {
    position: relative;
	height: 45px;
}

.division h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.division ::placeholder{
	font-size: 14px;

}

.division > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
    border-radius: 20pt;
}

.champ-saisie.mot-de-passe {
	margin-bottom: 5px;
}

.forget a {
	display: block;
	text-align: right;
	font-size: 0.9rem;
	transition: .3s;
    margin: 8pt;
}

.forget a:hover {
	color:black;
}


.bouton {
	display: block;
	width: 60%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-size: 200%;
	font-size: 1.2rem;
	color: black;
    font-weight: 700;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: orange;
    font-family: "Consolas";
}
.bouton:hover a {
	color: white;
	text-decoration: none;
}

.bouton:hover{
	background-color: black;
	color: white;
}
.bouton a{
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 1050px) {
	.conteneur {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.contenu-connexion h2 {
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.image img {
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.conteneur {
		grid-template-columns: 1fr;
	}

	.image {
		display: none;
	}

	.vague {
		display: none;
	}

	.contenu-connexion {
		justify-content: center;
	}
}
.logoCCNB .ccnb {
    width: 45pt;
    margin: 10pt;
    position: fixed;
    right: 0;
    top: 0; 
}

	.icon-back .fas{
		position: fixed;
		left: 30px; 
		top: 20px; 
		font-size: 18pt;
	}

	.icon-back .fas:hover{
		font-size: 20pt;
	}
/* .logoCCNB .here {
    width: 60pt;
    margin: 10pt;
    position: fixed;
    right: 0;
    top: 0; 
} */

i{
    color: black;
    margin: 11pt
}

.icone .fas{
	margin-left: 10%;
}